body {
  background: #DDDDDD;
}

.drop {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 60px;
  margin-left: -100px;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  border: 2px solid black;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  pointer-events: none;
}
.drop.active {
  background: black;
  color: white;
}
body.hasoutput .drop {
  display: none;
}
body.hasoutput .drop.active {
  display: flex;
}

.warning {
  color: red;
}

.output {
  font: 1em monospace;
}

.output h2 {
  position: sticky;
  top: 0;
  background: #DDDDDD;
  padding: 5px 0;
  z-index: 1;
}

.chunk {
  margin-top: 10px;
  padding: 5px 10px;
  background: #EEEEEE;
}

summary {
  cursor: pointer;
}

.chunk-header {
  font-weight: bold;
}

.chunk-value {
  font: 1em monospace;
  white-space: pre-wrap;
  margin-top: 5px;
  margin-left: 20px;
}

canvas {
  image-rendering: pixelated;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
  border-left: 1px solid #BBBBBB;
  list-style: none;
}

li {
  margin-top: 5px;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: -16px;
  width: 10px;
  height: 1px;
  background: #BBBBBB;
}

li > details > summary {
  margin-left: -4px;
}

.colour-preview {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  min-width: 10px;
  min-height: 10px;
  margin: 2px;
}

.locked::after {
  content: '\1F512';
  position: absolute;
  bottom: -4px;
  right: -5px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: white;
  border-radius: 100%;
  text-align: center;
}

.transparent::before {
  content: 't';
  position: absolute;
  bottom: -4px;
  left: -5px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: white;
  border-radius: 100%;
  text-align: center;
}

.gradient-preview {
  border: 1px solid black;
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin-top: 5px;
}

.effect-preview {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
  border: 1px solid black;
  margin: 50px;
}
