body {
  background: #DDDDDD;
}

.drop-target {
  display: inline-block;
  border: 2px solid black;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.drop-target.active {
  background: black;
  color: white;
}

.warning {
  color: red;
}

.output {
  font: 1em monospace;
}

.chunk {
  margin-top: 10px;
  padding: 5px 10px;
  background: #EEEEEE;
}

summary {
  cursor: pointer;
}

.chunk-header {
  font-weight: bold;
}

.chunk-value {
  font: 1em monospace;
  white-space: pre-wrap;
  margin-top: 5px;
  margin-left: 20px;
}
